* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  background-color: dimgray;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

header img {
  height: 80%;
  padding-left: 25%;
}

main {
  height: calc(100vh - 70px);
  background-color: black;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

main .discografia {
  height: 90%;
  width: 50%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

main .discografia .disco {
  height: calc((100% / 3) - 10px);
  background: #2e3a46;
  width: calc((100% / 4) - 60px);
  margin: 5px 10px 5px 10px;
  padding: 20px;
  text-align: center;
}

main .discografia .disco img.copertina {
  width: 85%;
}

main .discografia .disco p.titolo {
  margin: 15px 0;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

main .discografia .disco small.artista {
  color: grey;
  font-size: 15px;
  display: block;
}

main .discografia .disco span.anno {
  color: grey;
}

main #scelta-genere {
  margin-bottom: 20px;
}

